#topBar {
  background-color: rgba(#2c1f2f, .95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  transition: box-shadow 300ms ease, background-color 300ms ease;
  top: 0;
  width: 100%;
  z-index: 999;

  &:hover {
    background-color: rgba(#49344e, .95);
    box-shadow: 0 1px 19px 0px rgba(0,0,0,1);
  }


  & > section {
  }
}

#menu {
  display: flex;

  button {
    background-color: #6e5275;
    border: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: -1px;
    padding: 1em;
  }
}

#paletteButton {
}
